{% load static %}
{% load i18n %}
<html>
<head>
    <title>django-modeltrans example project</title>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% static "django_tables2/bootstrap.css" %}" />
</head>

<body>
    <div class="container">
        <h1>Django modeltrans <small><a href="{% url 'admin:index' %}">admin</a></small></h1>
        <p>
            Active language: {% get_current_language as LANGUAGE %} {{ LANGUAGE }}
            <form method="post" action="{% url 'set_language' %}">
                {% csrf_token %}
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="set language"/>
            </form>
        </p>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
