{% extends "index.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load sqlformat %}

{% block body %}

<pre><code>{{ table.data.data.query | sqlformat }}</pre></code>

{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}
{% render_table table 'django_tables2/bootstrap.html' %}


<link rel="stylesheet" href="https://unpkg.com/highlightjs@9.10.0/styles/default.css">
<script src="https://unpkg.com/highlightjs@9.10.0/highlight.pack.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<style>
td.i18n pre {
    font-size: 10px;
}
</style>
{% endblock %}
